@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: hwb(330 1% 64%);
  -webkit-font-smoothing: antialiased;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

li {
  list-style: none;
}

ul {
  padding: 0px;
  margin: 0px;
}
